<div class="ui secondary pointing menu">
  <p class="header item">
    <i class="Cube icon"></i>
    <a href="/">Varelager</a> / <a href="/warehouse/<%= result[0].warehouseid %>"> ...</a> / <%= result[0].productname %>
  </p>
</div>
</div>
