<!DOCTYPE html>
<html>

<head>
    <% include head %>
        <title>
            VAREHUSET
        </title>
</head>

<body>
    <div class="ui main text container">
    </br>
        <div class="ui negative message">
            <div class="header">
                Feilkode <%= faultcode %>
            </div>
            <p><%= fault %>
            </p>
        </div>
    </div>
</body>

</html>