<div id="modalNew" class="ui mini modal">
    <div class="ui icon header">
        <i class="Plus green icon"></i>
        Legg til vare
    </div>
    <div class="content">
        <div class="ui form">
            <div class="ui horizontal divider">
                Søk etter produkt
            </div>
            <div class="field">

                <div class="ui search newproduct">
                    <div class="ui icon input">
                        <input id="searchNewinput" class="prompt" type="text" placeholder="Søke etter produkter">
                        <i class="search icon"></i>
                    </div>
                    <div class="results"></div>
                </div>
            </div>
            <div class="ui horizontal divider">
                Endre vareutvalget
            </div>
            <div class="field productnameset">
                <label>Produkt</label>
                <input type="hidden" id="currentwarehouseid" value="<%= warehouseid %>" type="text">
                <input class="productnames" id="productnameNewInput" type="text">
            </div>

            <div class="field">
                <label>Antall</label>
                <input id="numberNewInput" type="text">
            </div>
            <div class="field">
                <label>Produktnummer</label>
                <input id="productnumberNewInput" type="text">
            </div>

        </div>

    </div>
    <div class="actions">
        <div class="ui black basic cancel button">
            <i class="remove icon"></i>
            Avbryt
        </div>
        <div id="saveYesNew" class="ui green ok button">
            <i class="checkmark icon"></i>
            Lagre
        </div>
    </div>
</div>
<script>
    $('#modalNew').modal({
        onHidden: function () {
            $("#searchNewinput").val("");
            $("#productnameNewInput").val("");
            $("#numberNewInput").val("");
            $("#productnumberNewInput").val("");
            $(".productnameset").removeClass("disabled");
        },
        onApprove: function () {
            if (isInt($("#numberNewInput").val()) == true) {
                $.post("/api/addproducts/", {
                        warehouseid: $("#currentwarehouseid").val(),
                        productname: $("#productnameNewInput").val().replace(/[&\/\\#,+()$~%"':*?<>{}]/g,''),
                        number: $("#numberNewInput").val().replace(/[^0-9]/g,'_'),
                        productnumber: $("#productnumberNewInput").val().replace(/[&\/\\#,+()$~%"':*?<>{}]/g,'')
                    },
                    function (data, status) {
                        location.reload();
                    });
            } else  {
                alert("Du tastet ikke gyldig antall");
            }
        }
    });

    function funcModalNew() {
        $('#modalNew')
            .modal('show');
            $("#productnumberNewInput").val("");
    }
</script>