<div class="ui secondary pointing menu">
  <p class="header item">
    <i class="Cube icon"></i>
    <a href="/">Varelager</a> / <a href="/warehouse/<%= warehouseid %>"><%= warehousename %> </a>
  </p>
  <p class="header right item">
    <i class="cogs icon"></i>
    <a href="/"> Innstillinger</a>
  </p>
</div>
<a href=""></a>
