<div class="ui secondary pointing menu">
  <a class="header item" href="/">
    <i class="Cube icon"></i>
    Varelager
  </a>
  <div class="right menu">
    <a class="ui item" onclick='funcModalNew();'>
      <i class="plus icon"></i>
      Legg til nytt varelager
    </a>
    <a class="ui item"  href="/settings">
      <i class="cogs icon"></i>
      Konfigureringsside
    </a>
  </div>
</div>
