<div class="ui secondary pointing menu">
  <p class="header item">
    <i class="Cube icon"></i>
    Varelager
  </p>
  <div class="right menu">
    <a class="ui item" onclick='funcModalNew();'>
      Legg til nytt varelager
    </a>
  </div>
</div>